# =========================
# Godot
# =========================

.godot/
.import/
export_presets.cfg

# =========================
# Mono / C#
# =========================

.mono/
data_*/
mono_crash_*.json

# =========================
# Exported Builds
# =========================

build/
bin/
exports/

# =========================
# IDE
# =========================

.vscode/
.idea/

# =========================
# OS
# =========================

.DS_Store
Thumbs.db

# =========================
# Local editor files
# =========================

*.uid
